USE [QuanLyNhaHangLau]
GO
/****** Object:  Table [dbo].[customer_feedbacks]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_feedbacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [varchar](2000) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[rating] [int] NOT NULL,
	[resolved] [bit] NULL,
	[resolved_at] [datetime2](6) NULL,
	[response] [varchar](1000) NULL,
	[customer_id] [bigint] NOT NULL,
	[order_id] [bigint] NULL,
	[resolved_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[address] [varchar](500) NULL,
	[blocked] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[customer_code] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[full_name] [varchar](100) NOT NULL,
	[is_vip] [bit] NULL,
	[notes] [varchar](500) NULL,
	[phone] [varchar](15) NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dish_categories]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish_categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [varchar](1000) NULL,
	[image_url] [varchar](500) NULL,
	[is_promotion] [bit] NULL,
	[name] [varchar](200) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[category_id] [bigint] NOT NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[notes] [varchar](500) NULL,
	[price] [numeric](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [numeric](10, 2) NOT NULL,
	[dish_id] [bigint] NOT NULL,
	[order_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[completed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[discount] [numeric](10, 2) NULL,
	[notes] [varchar](1000) NULL,
	[order_number] [varchar](50) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[subtotal] [numeric](10, 2) NOT NULL,
	[tax] [numeric](10, 2) NULL,
	[total] [numeric](10, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[created_by] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[reservation_id] [bigint] NULL,
	[room_id] [bigint] NULL,
	[table_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [varchar](1000) NULL,
	[discount_amount] [numeric](10, 2) NULL,
	[discount_percent] [numeric](5, 2) NULL,
	[end_date] [datetime2](6) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[start_date] [datetime2](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[confirmed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[email_sent] [bit] NULL,
	[notes] [varchar](1000) NULL,
	[number_of_guests] [int] NOT NULL,
	[reservation_time] [datetime2](6) NOT NULL,
	[special_requests] [varchar](1000) NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[confirmed_by] [bigint] NULL,
	[customer_id] [bigint] NOT NULL,
	[room_id] [bigint] NULL,
	[table_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_tables]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_tables](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[capacity] [int] NOT NULL,
	[location] [varchar](100) NULL,
	[notes] [varchar](500) NULL,
	[status] [varchar](255) NOT NULL,
	[table_number] [varchar](50) NOT NULL,
	[room_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[capacity] [int] NOT NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](100) NOT NULL,
	[room_number] [varchar](50) NOT NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_histories]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[end_time] [datetime2](6) NULL,
	[notes] [varchar](500) NULL,
	[start_time] [datetime2](6) NULL,
	[status] [varchar](255) NOT NULL,
	[customer_id] [bigint] NULL,
	[order_id] [bigint] NULL,
	[room_id] [bigint] NULL,
	[table_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](15) NULL,
	[updated_at] [datetime2](6) NULL,
	[username] [varchar](50) NOT NULL,
	[address] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [active], [address], [blocked], [created_at], [customer_code], [email], [full_name], [is_vip], [notes], [phone], [updated_at]) VALUES (1, 1, N'123 Ðu?ng ABC, Qu?n 1, TP.HCM', 0, CAST(N'2025-11-04T11:09:03.5133330' AS DateTime2), N'C-231184', N'nguyenvana@email.com', N'Nguy?n Van A', 1, N'Khách hàng thân thi?t', N'0912345678', CAST(N'2025-11-06T12:34:09.1434510' AS DateTime2))
INSERT [dbo].[customers] ([id], [active], [address], [blocked], [created_at], [customer_code], [email], [full_name], [is_vip], [notes], [phone], [updated_at]) VALUES (2, 1, N'456 Ðu?ng DEF, Qu?n 2, TP.HCM', 0, CAST(N'2025-11-04T11:09:03.5133330' AS DateTime2), N'C-526754', N'tranthib@email.com', N'Tr?n Th? B', 0, NULL, N'0923456789', CAST(N'2025-11-06T12:34:09.1753120' AS DateTime2))
INSERT [dbo].[customers] ([id], [active], [address], [blocked], [created_at], [customer_code], [email], [full_name], [is_vip], [notes], [phone], [updated_at]) VALUES (3, 1, N'789 Ðu?ng GHI, Qu?n 3, TP.HCM', 0, CAST(N'2025-11-04T11:09:03.5133330' AS DateTime2), N'C-123568', N'levanc@email.com', N'Lê Van C', 1, N'Khách VIP', N'0934567890', CAST(N'2025-11-06T12:34:09.1862930' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[dish_categories] ON 

INSERT [dbo].[dish_categories] ([id], [active], [description], [name]) VALUES (1, 1, N'Các lo?i l?u d?c s?n', N'L?u')
INSERT [dbo].[dish_categories] ([id], [active], [description], [name]) VALUES (2, 1, N'H?i s?n tuoi s?ng', N'H?i s?n')
INSERT [dbo].[dish_categories] ([id], [active], [description], [name]) VALUES (3, 1, N'Th?t bò, heo, gà các lo?i', N'Th?t')
SET IDENTITY_INSERT [dbo].[dish_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[dishes] ON 

INSERT [dbo].[dishes] ([id], [active], [created_at], [description], [image_url], [is_promotion], [name], [price], [status], [updated_at], [category_id], [promotion_id]) VALUES (13, 1, CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), N'L?u Thái chua cay d?c trung v?i h?i s?n tuoi s?ng', N'https://via.placeholder.com/400x400?text=Lau+Thai', 1, N'cua hoàng d?', CAST(350000.00 AS Numeric(10, 2)), N'AVAILABLE', CAST(N'2025-11-06T14:13:33.8003850' AS DateTime2), 1, NULL)
INSERT [dbo].[dishes] ([id], [active], [created_at], [description], [image_url], [is_promotion], [name], [price], [status], [updated_at], [category_id], [promotion_id]) VALUES (14, 1, CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), N'L?u n?m thanh mát v?i nhi?u lo?i n?m cao c?p', N'https://via.placeholder.com/400x400?text=Lau+Nam', 0, N'L?u N?m', CAST(280000.00 AS Numeric(10, 2)), N'AVAILABLE', CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), 1, NULL)
INSERT [dbo].[dishes] ([id], [active], [created_at], [description], [image_url], [is_promotion], [name], [price], [status], [updated_at], [category_id], [promotion_id]) VALUES (15, 1, CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), N'L?u cá h?i Nh?t B?n cao c?p', N'https://via.placeholder.com/400x400?text=Lau+Ca+Hoi', 1, N'L?u Cá H?i', CAST(450000.00 AS Numeric(10, 2)), N'AVAILABLE', CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [notes], [price], [quantity], [subtotal], [dish_id], [order_id]) VALUES (1, N'', CAST(350000.00 AS Numeric(10, 2)), 1, CAST(350000.00 AS Numeric(10, 2)), 13, 1)
INSERT [dbo].[order_details] ([id], [notes], [price], [quantity], [subtotal], [dish_id], [order_id]) VALUES (2, N'', CAST(280000.00 AS Numeric(10, 2)), 1, CAST(280000.00 AS Numeric(10, 2)), 14, 1)
INSERT [dbo].[order_details] ([id], [notes], [price], [quantity], [subtotal], [dish_id], [order_id]) VALUES (3, N'', CAST(320000.00 AS Numeric(10, 2)), 1, CAST(320000.00 AS Numeric(10, 2)), 16, 1)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [completed_at], [created_at], [discount], [notes], [order_number], [status], [subtotal], [tax], [total], [updated_at], [created_by], [customer_id], [reservation_id], [room_id], [table_id]) VALUES (1, NULL, CAST(N'2025-11-06T13:39:13.4542700' AS DateTime2), CAST(0.00 AS Numeric(10, 2)), N's', N'ORD20251106133913', N'CONFIRMED', CAST(950000.00 AS Numeric(10, 2)), CAST(95000.00 AS Numeric(10, 2)), CAST(1045000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:39:37.0613640' AS DateTime2), 5, 6, 3, NULL, NULL)
INSERT [dbo].[orders] ([id], [completed_at], [created_at], [discount], [notes], [order_number], [status], [subtotal], [tax], [total], [updated_at], [created_by], [customer_id], [reservation_id], [room_id], [table_id]) VALUES (2, NULL, CAST(N'2025-11-06T13:56:48.1517100' AS DateTime2), CAST(0.00 AS Numeric(10, 2)), N'ít th?t', N'ORD20251106135648', N'CONFIRMED', CAST(450000.00 AS Numeric(10, 2)), CAST(45000.00 AS Numeric(10, 2)), CAST(495000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:56:57.5797740' AS DateTime2), 5, 11, 9, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[reservations] ON 

INSERT [dbo].[reservations] ([id], [confirmed_at], [created_at], [email_sent], [notes], [number_of_guests], [reservation_time], [special_requests], [status], [updated_at], [confirmed_by], [customer_id], [room_id], [table_id]) VALUES (1, NULL, CAST(N'2025-11-04T11:16:25.5714340' AS DateTime2), 0, N'khong', 12, CAST(N'2025-11-04T13:30:00.0000000' AS DateTime2), N'vip', N'PENDING', CAST(N'2025-11-04T11:16:25.5714340' AS DateTime2), NULL, 4, NULL, NULL)
INSERT [dbo].[reservations] ([id], [confirmed_at], [created_at], [email_sent], [notes], [number_of_guests], [reservation_time], [special_requests], [status], [updated_at], [confirmed_by], [customer_id], [room_id], [table_id]) VALUES (2, NULL, CAST(N'2025-11-06T12:47:25.2473150' AS DateTime2), 0, N'không', 13, CAST(N'2025-11-06T15:30:00.0000000' AS DateTime2), N'vip', N'PENDING', CAST(N'2025-11-06T12:47:25.2473150' AS DateTime2), NULL, 4, NULL, NULL)
INSERT [dbo].[reservations] ([id], [confirmed_at], [created_at], [email_sent], [notes], [number_of_guests], [reservation_time], [special_requests], [status], [updated_at], [confirmed_by], [customer_id], [room_id], [table_id]) VALUES (3, CAST(N'2025-11-06T12:48:44.7099450' AS DateTime2), CAST(N'2025-11-06T12:48:31.7119750' AS DateTime2), 0, N'khogno', 5, CAST(N'2025-11-06T16:30:00.0000000' AS DateTime2), N'vip', N'CONFIRMED', CAST(N'2025-11-06T12:48:44.7099450' AS DateTime2), 5, 6, NULL, NULL)
SET IDENTITY_INSERT [dbo].[reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[restaurant_tables] ON 

INSERT [dbo].[restaurant_tables] ([id], [active], [capacity], [location], [notes], [status], [table_number], [room_id]) VALUES (1, 1, 4, N'T?ng 1 - Khu A', N'Bàn g?n c?a s?', N'AVAILABLE', N'T-01', NULL)
INSERT [dbo].[restaurant_tables] ([id], [active], [capacity], [location], [notes], [status], [table_number], [room_id]) VALUES (2, 1, 4, N'T?ng 1 - Khu A', NULL, N'AVAILABLE', N'T-02', NULL)
INSERT [dbo].[restaurant_tables] ([id], [active], [capacity], [location], [notes], [status], [table_number], [room_id]) VALUES (3, 1, 6, N'T?ng 1 - Khu B', NULL, N'AVAILABLE', N'T-03', NULL)
SET IDENTITY_INSERT [dbo].[restaurant_tables] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [description], [name]) VALUES (1, N'Qu?n tr? viên h? th?ng - Quy?n cao nh?t', N'ROLE_ADMIN')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (2, N'Qu?n lý nhà hàng - Qu?n lý ho?t d?ng', N'ROLE_MANAGER')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (3, N'Nhân viên - Ph?c v? và x? lý don', N'ROLE_STAFF')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [active], [capacity], [description], [name], [room_number], [status]) VALUES (1, 1, 10, N'Phòng VIP v?i t?m nhìn d?p', N'Phòng VIP 1', N'VIP-01', N'AVAILABLE')
INSERT [dbo].[rooms] ([id], [active], [capacity], [description], [name], [room_number], [status]) VALUES (2, 1, 12, N'Phòng VIP r?ng rãi', N'Phòng VIP 2', N'VIP-02', N'AVAILABLE')
INSERT [dbo].[rooms] ([id], [active], [capacity], [description], [name], [room_number], [status]) VALUES (3, 1, 8, N'Phòng gia dình ?m cúng', N'Phòng Gia Ðình 1', N'FAMILY-01', N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [active], [created_at], [email], [full_name], [password], [phone], [updated_at], [username], [address]) VALUES (1, 1, CAST(N'2025-11-04T11:03:29.5265450' AS DateTime2), N'admin@nhahang.com', N'Administrator', N'$2a$10$StDoOUIOQ4eB/zuNonddjeYKe2o09WjuoWOIwJeSdJraus4.zjIhi', N'0123456789', CAST(N'2025-11-04T11:03:29.5285530' AS DateTime2), N'admin', NULL)
INSERT [dbo].[users] ([id], [active], [created_at], [email], [full_name], [password], [phone], [updated_at], [username], [address]) VALUES (2, 1, CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'manager@restaurant.com', N'Nguy?n Van Qu?n Lý', N'$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'0987654321', CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'manager', NULL)
INSERT [dbo].[users] ([id], [active], [created_at], [email], [full_name], [password], [phone], [updated_at], [username], [address]) VALUES (3, 1, CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'staff@restaurant.com', N'Tr?n Th? Nhân Viên', N'$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'0912345678', CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'staff', NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKm3iom37efaxd5eucmxjqqcbe9]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UKm3iom37efaxd5eucmxjqqcbe9] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKh6uvo8uk78dtgf703w61g92gh]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[dish_categories] ADD  CONSTRAINT [UKh6uvo8uk78dtgf703w61g92gh] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKnthkiu7pgmnqnu86i2jyoe2v7]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [UKnthkiu7pgmnqnu86i2jyoe2v7] UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK1t9vy8tg8eidmfw4k887ibeu1]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[restaurant_tables] ADD  CONSTRAINT [UK1t9vy8tg8eidmfw4k887ibeu1] UNIQUE NONCLUSTERED 
(
	[table_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKofx66keruapi6vyqpv6f2or37]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK7ljglxlj90ln3lbas4kl983m2]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[rooms] ADD  CONSTRAINT [UK7ljglxlj90ln3lbas4kl983m2] UNIQUE NONCLUSTERED 
(
	[room_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customer_feedbacks] ADD  DEFAULT ((0)) FOR [resolved]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [blocked]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [is_vip]
GO
ALTER TABLE [dbo].[dish_categories] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[dishes] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[dishes] ADD  DEFAULT ((0)) FOR [is_promotion]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((0)) FOR [email_sent]
GO
ALTER TABLE [dbo].[restaurant_tables] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[customer_feedbacks]  WITH CHECK ADD  CONSTRAINT [FK1qmb4v3tgelpmbxwtowbkxjgb] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[customer_feedbacks] CHECK CONSTRAINT [FK1qmb4v3tgelpmbxwtowbkxjgb]
GO
ALTER TABLE [dbo].[customer_feedbacks]  WITH CHECK ADD  CONSTRAINT [FKc4jodevqea3h29ho0e0wa36yn] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[customer_feedbacks] CHECK CONSTRAINT [FKc4jodevqea3h29ho0e0wa36yn]
GO
ALTER TABLE [dbo].[customer_feedbacks]  WITH CHECK ADD  CONSTRAINT [FKki0bo5b5kl6gps7v8q8h2axsi] FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customer_feedbacks] CHECK CONSTRAINT [FKki0bo5b5kl6gps7v8q8h2axsi]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FKhjecv877f7mugty2rqdb97xox] FOREIGN KEY([category_id])
REFERENCES [dbo].[dish_categories] ([id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FKhjecv877f7mugty2rqdb97xox]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FKkxnhsu0tl0vpr62mhr94y1tkx] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FKkxnhsu0tl0vpr62mhr94y1tkx]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK1f9qgvn9fugqkk40bxkgy6g7p] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK1f9qgvn9fugqkk40bxkgy6g7p]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKbn1idyqvshli7bj1rxurlsnju] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKbn1idyqvshli7bj1rxurlsnju]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKmvji5dgxi79luuluamunmw73h] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKmvji5dgxi79luuluamunmw73h]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK7m03pg0gvesrflloshk7h40d2] FOREIGN KEY([confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK7m03pg0gvesrflloshk7h40d2]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK8eccffekcj27jkdiyw2e9r8ks] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK8eccffekcj27jkdiyw2e9r8ks]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKljt6q1tp205b0h26eiegc5mx6] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKljt6q1tp205b0h26eiegc5mx6]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g]
GO
ALTER TABLE [dbo].[restaurant_tables]  WITH CHECK ADD  CONSTRAINT [FKlsybn8s0hr5pfo45rh1brli9s] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[restaurant_tables] CHECK CONSTRAINT [FKlsybn8s0hr5pfo45rh1brli9s]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKhhjt4cgqni5icrwsnaitym4f3] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKhhjt4cgqni5icrwsnaitym4f3]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKndm4c1o1gj80ywv5upt4gxv7d] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKndm4c1o1gj80ywv5upt4gxv7d]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKomki21350myibn4fkmo5wni6l] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKomki21350myibn4fkmo5wni6l]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKsk2qwjmygxwdke2x41uyb4fq8] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKsk2qwjmygxwdke2x41uyb4fq8]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD CHECK  (([status]='UNAVAILABLE' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='SERVED' OR [status]='READY' OR [status]='PREPARING' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD CHECK  (([status]='NO_SHOW' OR [status]='COMPLETED' OR [status]='CANCELLED' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[restaurant_tables]  WITH CHECK ADD CHECK  (([status]='MAINTENANCE' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD CHECK  (([name]='ROLE_CUSTOMER' OR [name]='ROLE_STAFF' OR [name]='ROLE_MANAGER' OR [name]='ROLE_ADMIN'))
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD CHECK  (([status]='MAINTENANCE' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD CHECK  (([status]='MAINTENANCE' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO

ALTER TABLE [dbo].[customers] 
ADD [user_id] [bigint] NULL;
GO

-- Thêm khóa ngoại
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customer_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customer_user]
GO

-- Thêm index để tối ưu truy vấn
CREATE NONCLUSTERED INDEX [IDX_customer_user_id] ON [dbo].[customers]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
