
-- Xóa database nếu tồn tại (SQL Server 2016+)
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'QuanLyNhaHangLau')
BEGIN
    ALTER DATABASE [QuanLyNhaHangLau] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [QuanLyNhaHangLau];
END
GO

-- Tạo database với collation hỗ trợ tiếng Việt
-- Vietnamese_CI_AS: Case-Insensitive, Accent-Sensitive (phân biệt dấu)
-- Nếu không có Vietnamese_CI_AS, script sẽ tự động dùng SQL_Latin1_General_CP1_CI_AS
IF EXISTS (SELECT * FROM sys.fn_helpcollations() WHERE name = 'Vietnamese_CI_AS')
BEGIN
    CREATE DATABASE [QuanLyNhaHangLau]
    COLLATE Vietnamese_CI_AS;
END
ELSE
BEGIN
    -- Fallback nếu không có Vietnamese collation
    CREATE DATABASE [QuanLyNhaHangLau]
    COLLATE SQL_Latin1_General_CP1_CI_AS;
    PRINT 'Warning: Vietnamese_CI_AS not available. Using SQL_Latin1_General_CP1_CI_AS instead.';
END
GO

USE [QuanLyNhaHangLau]
GO

-- Thiết lập encoding cho session
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thiết lập để hỗ trợ Unicode tốt hơn
SET ANSI_PADDING ON
GO
SET ANSI_WARNINGS ON
GO
SET ARITHABORT ON
GO
/****** Object:  Table [dbo].[customer_feedbacks]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_feedbacks](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[comment] [varchar](2000) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[rating] [int] NOT NULL,
	[resolved] [bit] NULL,
	[resolved_at] [datetime2](6) NULL,
	[response] [varchar](1000) NULL,
	[customer_id] [bigint] NOT NULL,
	[order_id] [bigint] NULL,
	[resolved_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[address] [varchar](500) NULL,
	[blocked] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[customer_code] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[full_name] [varchar](100) NOT NULL,
	[is_vip] [bit] NULL,
	[notes] [varchar](500) NULL,
	[phone] [varchar](15) NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dish_categories]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish_categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [varchar](1000) NULL,
	[image_url] [varchar](500) NULL,
	[is_promotion] [bit] NULL,
	[name] [varchar](200) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[category_id] [bigint] NOT NULL,
	[promotion_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[notes] [varchar](500) NULL,
	[price] [numeric](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[subtotal] [numeric](10, 2) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[dish_id] [bigint] NOT NULL,
	[order_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[completed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[discount] [numeric](10, 2) NULL,
	[notes] [varchar](1000) NULL,
	[order_number] [varchar](50) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[subtotal] [numeric](10, 2) NOT NULL,
	[tax] [numeric](10, 2) NULL,
	[total] [numeric](10, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[created_by] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[reservation_id] [bigint] NULL,
	[room_id] [bigint] NULL,
	[table_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [varchar](1000) NULL,
	[discount_amount] [numeric](10, 2) NULL,
	[discount_percent] [numeric](5, 2) NULL,
	[end_date] [datetime2](6) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[start_date] [datetime2](6) NOT NULL,
	[min_order_value] [numeric](10, 2) NULL,
	[max_discount] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[confirmed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[email_sent] [bit] NULL,
	[notes] [varchar](1000) NULL,
	[number_of_guests] [int] NOT NULL,
	[reservation_time] [datetime2](6) NOT NULL,
	[special_requests] [varchar](1000) NULL,
	[status] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[confirmed_by] [bigint] NULL,
	[customer_id] [bigint] NOT NULL,
	[room_id] [bigint] NULL,
	[table_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_tables]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_tables](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[capacity] [int] NOT NULL,
	[location] [varchar](100) NULL,
	[notes] [varchar](500) NULL,
	[status] [varchar](255) NOT NULL,
	[type] [varchar](255) NOT NULL,
	[table_number] [varchar](50) NOT NULL,
	[room_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[capacity] [int] NOT NULL,
	[description] [varchar](500) NULL,
	[name] [varchar](100) NOT NULL,
	[room_number] [varchar](50) NOT NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_histories]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[end_time] [datetime2](6) NULL,
	[notes] [varchar](500) NULL,
	[start_time] [datetime2](6) NULL,
	[status] [varchar](255) NOT NULL,
	[customer_id] [bigint] NULL,
	[order_id] [bigint] NULL,
	[room_id] [bigint] NULL,
	[table_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](15) NULL,
	[updated_at] [datetime2](6) NULL,
	[username] [varchar](50) NOT NULL,
	[address] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](10, 2) NOT NULL,
	[payment_method] [varchar](50) NOT NULL,
	[payment_status] [varchar](50) NOT NULL,
	[notes] [varchar](500) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[order_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conversations]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[user_name] [nvarchar](100) NOT NULL,
	[customer_id] [bigint] NULL,
	[customer_name] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[last_message_at] [datetime2](6) NULL,
	[unread_count] [bigint] NULL,
	[created_at] [datetime2](6) NOT NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
CONSTRAINT [uk_user_conversation] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_conversation_user_id] ON [dbo].[conversations]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 06/11/2025 2:40:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[conversation_id] [bigint] NOT NULL,
	[sender_type] [nvarchar](20) NOT NULL,
	[sender_id] [bigint] NOT NULL,
	[sender_name] [nvarchar](100) NULL,
	[content] [nvarchar](2000) NOT NULL,
	[is_read] [bit] NULL,
	[read_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[sender_user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [active], [address], [blocked], [created_at], [customer_code], [email], [full_name], [is_vip], [notes], [phone], [updated_at]) VALUES (1, 1, N'123 Đường ABC, Quận 1, TP.HCM', 0, CAST(N'2025-11-04T11:09:03.5133330' AS DateTime2), N'C-231184', N'nguyenvana@email.com', N'Nguyễn Văn A', 1, N'Khách hàng thân thiết', N'0912345678', CAST(N'2025-11-06T12:34:09.1434510' AS DateTime2))
INSERT [dbo].[customers] ([id], [active], [address], [blocked], [created_at], [customer_code], [email], [full_name], [is_vip], [notes], [phone], [updated_at]) VALUES (2, 1, N'456 Đường DEF, Quận 2, TP.HCM', 0, CAST(N'2025-11-04T11:09:03.5133330' AS DateTime2), N'C-526754', N'tranthib@email.com', N'Trần Thị B', 0, NULL, N'0923456789', CAST(N'2025-11-06T12:34:09.1753120' AS DateTime2))
INSERT [dbo].[customers] ([id], [active], [address], [blocked], [created_at], [customer_code], [email], [full_name], [is_vip], [notes], [phone], [updated_at]) VALUES (3, 1, N'789 Đường GHI, Quận 3, TP.HCM', 0, CAST(N'2025-11-04T11:09:03.5133330' AS DateTime2), N'C-123568', N'levanc@email.com', N'Lê Văn C', 1, N'Khách VIP', N'0934567890', CAST(N'2025-11-06T12:34:09.1862930' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[dish_categories] ON 

INSERT [dbo].[dish_categories] ([id], [active], [description], [name]) VALUES (1, 1, N'Các loại lẩu đặc sản', N'Lẩu')
INSERT [dbo].[dish_categories] ([id], [active], [description], [name]) VALUES (2, 1, N'Hải sản tươi sống', N'Hải sản')
INSERT [dbo].[dish_categories] ([id], [active], [description], [name]) VALUES (3, 1, N'Thịt bò, heo, gà các loại', N'Thịt')
SET IDENTITY_INSERT [dbo].[dish_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[dishes] ON 

INSERT [dbo].[dishes] ([id], [active], [created_at], [description], [image_url], [is_promotion], [name], [price], [status], [updated_at], [category_id], [promotion_id]) VALUES (13, 1, CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), N'Lẩu Thái chua cay đặc trưng với hải sản tươi sống', N'https://via.placeholder.com/400x400?text=Lau+Thai', 1, N'cua hoàng đế', CAST(350000.00 AS Numeric(10, 2)), N'AVAILABLE', CAST(N'2025-11-06T14:13:33.8003850' AS DateTime2), 1, NULL)
INSERT [dbo].[dishes] ([id], [active], [created_at], [description], [image_url], [is_promotion], [name], [price], [status], [updated_at], [category_id], [promotion_id]) VALUES (14, 1, CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), N'Lẩu nấm thanh mát với nhiều loại nấm cao cấp', N'https://via.placeholder.com/400x400?text=Lau+Nam', 0, N'Lẩu Nấm', CAST(280000.00 AS Numeric(10, 2)), N'AVAILABLE', CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), 1, NULL)
INSERT [dbo].[dishes] ([id], [active], [created_at], [description], [image_url], [is_promotion], [name], [price], [status], [updated_at], [category_id], [promotion_id]) VALUES (15, 1, CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), N'Lẩu cá hồi Nhật Bản cao cấp', N'https://via.placeholder.com/400x400?text=Lau+Ca+Hoi', 1, N'Lẩu Cá Hồi', CAST(450000.00 AS Numeric(10, 2)), N'AVAILABLE', CAST(N'2025-11-04T11:11:43.1500000' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [notes], [price], [quantity], [subtotal], [created_at], [dish_id], [order_id]) VALUES (1, N'', CAST(350000.00 AS Numeric(10, 2)), 1, CAST(350000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:39:13.4542700' AS DateTime2), 13, 1)
INSERT [dbo].[order_details] ([id], [notes], [price], [quantity], [subtotal], [created_at], [dish_id], [order_id]) VALUES (2, N'', CAST(280000.00 AS Numeric(10, 2)), 1, CAST(280000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:39:13.4542700' AS DateTime2), 14, 1)
INSERT [dbo].[order_details] ([id], [notes], [price], [quantity], [subtotal], [created_at], [dish_id], [order_id]) VALUES (3, N'', CAST(320000.00 AS Numeric(10, 2)), 1, CAST(320000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:39:13.4542700' AS DateTime2), 16, 1)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [completed_at], [created_at], [discount], [notes], [order_number], [status], [subtotal], [tax], [total], [updated_at], [created_by], [customer_id], [reservation_id], [room_id], [table_id]) VALUES (1, NULL, CAST(N'2025-11-06T13:39:13.4542700' AS DateTime2), CAST(0.00 AS Numeric(10, 2)), N's', N'ORD20251106133913', N'CONFIRMED', CAST(950000.00 AS Numeric(10, 2)), CAST(95000.00 AS Numeric(10, 2)), CAST(1045000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:39:37.0613640' AS DateTime2), 5, 6, 3, NULL, NULL)
INSERT [dbo].[orders] ([id], [completed_at], [created_at], [discount], [notes], [order_number], [status], [subtotal], [tax], [total], [updated_at], [created_by], [customer_id], [reservation_id], [room_id], [table_id]) VALUES (2, NULL, CAST(N'2025-11-06T13:56:48.1517100' AS DateTime2), CAST(0.00 AS Numeric(10, 2)), N'ít thịt', N'ORD20251106135648', N'CONFIRMED', CAST(450000.00 AS Numeric(10, 2)), CAST(45000.00 AS Numeric(10, 2)), CAST(495000.00 AS Numeric(10, 2)), CAST(N'2025-11-06T13:56:57.5797740' AS DateTime2), 5, 11, 9, NULL, NULL)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[reservations] ON 

INSERT [dbo].[reservations] ([id], [confirmed_at], [created_at], [email_sent], [notes], [number_of_guests], [reservation_time], [special_requests], [status], [updated_at], [confirmed_by], [customer_id], [room_id], [table_id]) VALUES (1, NULL, CAST(N'2025-11-04T11:16:25.5714340' AS DateTime2), 0, N'khong', 12, CAST(N'2025-11-04T13:30:00.0000000' AS DateTime2), N'vip', N'PENDING', CAST(N'2025-11-04T11:16:25.5714340' AS DateTime2), NULL, 4, NULL, NULL)
INSERT [dbo].[reservations] ([id], [confirmed_at], [created_at], [email_sent], [notes], [number_of_guests], [reservation_time], [special_requests], [status], [updated_at], [confirmed_by], [customer_id], [room_id], [table_id]) VALUES (2, NULL, CAST(N'2025-11-06T12:47:25.2473150' AS DateTime2), 0, N'không', 13, CAST(N'2025-11-06T15:30:00.0000000' AS DateTime2), N'vip', N'PENDING', CAST(N'2025-11-06T12:47:25.2473150' AS DateTime2), NULL, 4, NULL, NULL)
INSERT [dbo].[reservations] ([id], [confirmed_at], [created_at], [email_sent], [notes], [number_of_guests], [reservation_time], [special_requests], [status], [updated_at], [confirmed_by], [customer_id], [room_id], [table_id]) VALUES (3, CAST(N'2025-11-06T12:48:44.7099450' AS DateTime2), CAST(N'2025-11-06T12:48:31.7119750' AS DateTime2), 0, N'khogno', 5, CAST(N'2025-11-06T16:30:00.0000000' AS DateTime2), N'vip', N'CONFIRMED', CAST(N'2025-11-06T12:48:44.7099450' AS DateTime2), 5, 6, NULL, NULL)
SET IDENTITY_INSERT [dbo].[reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[restaurant_tables] ON 

INSERT [dbo].[restaurant_tables] ([id], [active], [capacity], [location], [notes], [status], [type], [table_number], [room_id]) VALUES (1, 1, 4, N'Tầng 1 - Khu A', N'Bàn gần cửa sổ', N'AVAILABLE', N'ONLINE', N'T-01', NULL)
INSERT [dbo].[restaurant_tables] ([id], [active], [capacity], [location], [notes], [status], [type], [table_number], [room_id]) VALUES (2, 1, 4, N'Tầng 1 - Khu A', NULL, N'AVAILABLE', N'ONLINE', N'T-02', NULL)
INSERT [dbo].[restaurant_tables] ([id], [active], [capacity], [location], [notes], [status], [type], [table_number], [room_id]) VALUES (3, 1, 6, N'Tầng 1 - Khu B', NULL, N'AVAILABLE', N'ONLINE', N'T-03', NULL)
SET IDENTITY_INSERT [dbo].[restaurant_tables] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [description], [name]) VALUES (1, N'Quản trị viên hệ thống - Quyền cao nhất', N'ROLE_ADMIN')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (2, N'Quản lý nhà hàng - Quản lý hoạt động', N'ROLE_MANAGER')
INSERT [dbo].[roles] ([id], [description], [name]) VALUES (3, N'Nhân viên - Phục vụ và xử lý đơn', N'ROLE_STAFF')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[rooms] ON 

INSERT [dbo].[rooms] ([id], [active], [capacity], [description], [name], [room_number], [status]) VALUES (1, 1, 10, N'Phòng VIP với tầm nhìn đẹp', N'Phòng VIP 1', N'VIP-01', N'AVAILABLE')
INSERT [dbo].[rooms] ([id], [active], [capacity], [description], [name], [room_number], [status]) VALUES (2, 1, 12, N'Phòng VIP rộng rãi', N'Phòng VIP 2', N'VIP-02', N'AVAILABLE')
INSERT [dbo].[rooms] ([id], [active], [capacity], [description], [name], [room_number], [status]) VALUES (3, 1, 8, N'Phòng gia đình ấm cúng', N'Phòng Gia Đình 1', N'FAMILY-01', N'AVAILABLE')
SET IDENTITY_INSERT [dbo].[rooms] OFF
GO
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[user_roles] ([user_id], [role_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [active], [created_at], [email], [full_name], [password], [phone], [updated_at], [username], [address]) VALUES (1, 1, CAST(N'2025-11-04T11:03:29.5265450' AS DateTime2), N'admin@nhahang.com', N'Administrator', N'$2a$10$StDoOUIOQ4eB/zuNonddjeYKe2o09WjuoWOIwJeSdJraus4.zjIhi', N'0123456789', CAST(N'2025-11-04T11:03:29.5285530' AS DateTime2), N'admin', NULL)
INSERT [dbo].[users] ([id], [active], [created_at], [email], [full_name], [password], [phone], [updated_at], [username], [address]) VALUES (2, 1, CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'manager@restaurant.com', N'Nguyễn Văn Quản Lý', N'$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'0987654321', CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'manager', NULL)
INSERT [dbo].[users] ([id], [active], [created_at], [email], [full_name], [password], [phone], [updated_at], [username], [address]) VALUES (3, 1, CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'staff@restaurant.com', N'Trần Thị Nhân Viên', N'$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', N'0912345678', CAST(N'2025-11-04T11:07:18.6466670' AS DateTime2), N'staff', NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_customer_conversation]    Script Date: 06/11/2025 2:40:36 CH ******/
-- Removed UK_customer_conversation, replaced with uk_user_conversation in CREATE TABLE
-- ALTER TABLE [dbo].[conversations] ADD  CONSTRAINT [UK_customer_conversation] UNIQUE NONCLUSTERED
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_conversations_last_message_at]    Script Date: 06/11/2025 2:40:36 CH ******/
CREATE NONCLUSTERED INDEX [IDX_conversations_last_message_at] ON [dbo].[conversations]
(
	[last_message_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_conversations_is_active]    Script Date: 06/11/2025 2:40:36 CH ******/
CREATE NONCLUSTERED INDEX [IDX_conversations_is_active] ON [dbo].[conversations]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_chat_messages_conversation_id]    Script Date: 06/11/2025 2:40:36 CH ******/
CREATE NONCLUSTERED INDEX [IDX_chat_messages_conversation_id] ON [dbo].[chat_messages]
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_chat_messages_sender]    Script Date: 06/11/2025 2:40:36 CH ******/
CREATE NONCLUSTERED INDEX [IDX_chat_messages_sender] ON [dbo].[chat_messages]
(
	[sender_type] ASC,
	[sender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_chat_messages_created_at]    Script Date: 06/11/2025 2:40:36 CH ******/
CREATE NONCLUSTERED INDEX [IDX_chat_messages_created_at] ON [dbo].[chat_messages]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKm3iom37efaxd5eucmxjqqcbe9]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UKm3iom37efaxd5eucmxjqqcbe9] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKh6uvo8uk78dtgf703w61g92gh]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[dish_categories] ADD  CONSTRAINT [UKh6uvo8uk78dtgf703w61g92gh] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKnthkiu7pgmnqnu86i2jyoe2v7]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [UKnthkiu7pgmnqnu86i2jyoe2v7] UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK1t9vy8tg8eidmfw4k887ibeu1]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[restaurant_tables] ADD  CONSTRAINT [UK1t9vy8tg8eidmfw4k887ibeu1] UNIQUE NONCLUSTERED 
(
	[table_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKofx66keruapi6vyqpv6f2or37]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UKofx66keruapi6vyqpv6f2or37] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK7ljglxlj90ln3lbas4kl983m2]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[rooms] ADD  CONSTRAINT [UK7ljglxlj90ln3lbas4kl983m2] UNIQUE NONCLUSTERED 
(
	[room_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 06/11/2025 2:40:36 CH ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customer_feedbacks] ADD  DEFAULT ((0)) FOR [resolved]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [blocked]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [is_vip]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[conversations] ADD  DEFAULT ((0)) FOR [unread_count]
GO
ALTER TABLE [dbo].[chat_messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[dish_categories] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[dishes] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[dishes] ADD  DEFAULT ((0)) FOR [is_promotion]
GO
ALTER TABLE [dbo].[promotions] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((0)) FOR [email_sent]
GO
ALTER TABLE [dbo].[restaurant_tables] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[restaurant_tables] ADD  DEFAULT ('OFFLINE') FOR [type]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[customer_feedbacks]  WITH CHECK ADD  CONSTRAINT [FK1qmb4v3tgelpmbxwtowbkxjgb] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[customer_feedbacks] CHECK CONSTRAINT [FK1qmb4v3tgelpmbxwtowbkxjgb]
GO
ALTER TABLE [dbo].[customer_feedbacks]  WITH CHECK ADD  CONSTRAINT [FKc4jodevqea3h29ho0e0wa36yn] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[customer_feedbacks] CHECK CONSTRAINT [FKc4jodevqea3h29ho0e0wa36yn]
GO
ALTER TABLE [dbo].[customer_feedbacks]  WITH CHECK ADD  CONSTRAINT [FKki0bo5b5kl6gps7v8q8h2axsi] FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customer_feedbacks] CHECK CONSTRAINT [FKki0bo5b5kl6gps7v8q8h2axsi]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FKhjecv877f7mugty2rqdb97xox] FOREIGN KEY([category_id])
REFERENCES [dbo].[dish_categories] ([id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FKhjecv877f7mugty2rqdb97xox]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FKkxnhsu0tl0vpr62mhr94y1tkx] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FKkxnhsu0tl0vpr62mhr94y1tkx]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK1f9qgvn9fugqkk40bxkgy6g7p] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK1f9qgvn9fugqkk40bxkgy6g7p]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKbn1idyqvshli7bj1rxurlsnju] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKbn1idyqvshli7bj1rxurlsnju]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKmvji5dgxi79luuluamunmw73h] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKmvji5dgxi79luuluamunmw73h]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_order]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK_conversation_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK_conversation_user]
GO
ALTER TABLE [dbo].[conversations]  WITH CHECK ADD  CONSTRAINT [FK_conversation_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id]) ON DELETE SET NULL
GO
ALTER TABLE [dbo].[conversations] CHECK CONSTRAINT [FK_conversation_customer]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_message_conversation] FOREIGN KEY([conversation_id])
REFERENCES [dbo].[conversations] ([id]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_message_conversation]
GO
ALTER TABLE [dbo].[chat_messages]  WITH CHECK ADD  CONSTRAINT [FK_chat_sender_user] FOREIGN KEY([sender_user_id])
REFERENCES [dbo].[users] ([id]) ON DELETE SET NULL
GO
ALTER TABLE [dbo].[chat_messages] CHECK CONSTRAINT [FK_chat_sender_user]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK7m03pg0gvesrflloshk7h40d2] FOREIGN KEY([confirmed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK7m03pg0gvesrflloshk7h40d2]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK8eccffekcj27jkdiyw2e9r8ks] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK8eccffekcj27jkdiyw2e9r8ks]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKljt6q1tp205b0h26eiegc5mx6] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKljt6q1tp205b0h26eiegc5mx6]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g]
GO
ALTER TABLE [dbo].[restaurant_tables]  WITH CHECK ADD  CONSTRAINT [FKlsybn8s0hr5pfo45rh1brli9s] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[restaurant_tables] CHECK CONSTRAINT [FKlsybn8s0hr5pfo45rh1brli9s]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKhhjt4cgqni5icrwsnaitym4f3] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKhhjt4cgqni5icrwsnaitym4f3]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKndm4c1o1gj80ywv5upt4gxv7d] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKndm4c1o1gj80ywv5upt4gxv7d]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKomki21350myibn4fkmo5wni6l] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKomki21350myibn4fkmo5wni6l]
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD  CONSTRAINT [FKsk2qwjmygxwdke2x41uyb4fq8] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([id])
GO
ALTER TABLE [dbo].[table_histories] CHECK CONSTRAINT [FKsk2qwjmygxwdke2x41uyb4fq8]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKh8ciramu9cc9q3qcqiv4ue8a6]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FKhfh9dx7w3ubf1co1vdev94g3f]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD CHECK  (([status]='UNAVAILABLE' OR [status]='AVAILABLE' OR [status]='DISCONTINUED'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='SERVED' OR [status]='READY' OR [status]='PREPARING' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([payment_method]='CASH' OR [payment_method]='CARD' OR [payment_method]='BANK_TRANSFER' OR [payment_method]='E_WALLET'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([payment_status]='PENDING' OR [payment_status]='COMPLETED' OR [payment_status]='FAILED' OR [payment_status]='REFUNDED'))
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD CHECK  (([status]='NO_SHOW' OR [status]='COMPLETED' OR [status]='CANCELLED' OR [status]='CHECKED_IN' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[restaurant_tables]  WITH CHECK ADD CHECK  (([status]='CLEANING' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[restaurant_tables]  WITH CHECK ADD CHECK  (([type]='OFFLINE' OR [type]='ONLINE'))
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD CHECK  (([name]='ROLE_CUSTOMER' OR [name]='ROLE_STAFF' OR [name]='ROLE_MANAGER' OR [name]='ROLE_ADMIN'))
GO
ALTER TABLE [dbo].[rooms]  WITH CHECK ADD CHECK  (([status]='MAINTENANCE' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[table_histories]  WITH CHECK ADD CHECK  (([status]='MAINTENANCE' OR [status]='OCCUPIED' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO

ALTER TABLE [dbo].[customers] 
ADD [user_id] [bigint] NULL;
GO

-- Thêm khóa ngoại
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customer_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customer_user]
GO

-- Thêm index để tối ưu truy vấn
CREATE NONCLUSTERED INDEX [IDX_customer_user_id] ON [dbo].[customers]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- Cột type đã được thêm vào CREATE TABLE và có DEFAULT constraint ở trên

-- Thêm các cột position_x, position_y cho restaurant_tables
ALTER TABLE [dbo].[restaurant_tables] 
ADD [position_x] [int] NULL,
	[position_y] [int] NULL;
GO

-- Thêm cột is_deleted để hỗ trợ xóa mềm
ALTER TABLE [dbo].[restaurant_tables] 
ADD [is_deleted] [bit] NULL;
GO

-- Cập nhật tất cả các bàn có is_deleted IS NULL thành false (0)
UPDATE [dbo].[restaurant_tables] 
SET [is_deleted] = 0 
WHERE [is_deleted] IS NULL;
GO

-- Thêm giá trị mặc định cho is_deleted
ALTER TABLE [dbo].[restaurant_tables]
ADD CONSTRAINT [DF_restaurant_tables_is_deleted] DEFAULT (0) FOR [is_deleted];
GO

-- Cập nhật các bàn có status = 'ONLINE' (cũ) thành 'AVAILABLE'
-- Vì ONLINE giờ là type, không phải status nữa
UPDATE [dbo].[restaurant_tables] 
SET [status] = 'AVAILABLE' 
WHERE [status] = 'ONLINE';
GO

-- Cập nhật các bàn có status = 'MAINTENANCE' (nếu có) thành 'AVAILABLE'
-- Vì MAINTENANCE đã bị loại bỏ khỏi enum
UPDATE [dbo].[restaurant_tables] 
SET [status] = 'AVAILABLE' 
WHERE [status] = 'MAINTENANCE';
GO

-- Cập nhật các bàn chưa có type, đặt mặc định là 'OFFLINE'
UPDATE [dbo].[restaurant_tables] 
SET [type] = 'OFFLINE' 
WHERE [type] IS NULL;
GO

-- Cập nhật các bản ghi cũ với giá trị mặc định (lấy từ order.created_at)
UPDATE od
SET od.[created_at] = o.[created_at]
FROM [dbo].[order_details] od
INNER JOIN [dbo].[orders] o ON od.[order_id] = o.[id]
WHERE od.[created_at] IS NULL;
GO

-- Đặt NOT NULL sau khi đã cập nhật dữ liệu
-- (Cột đã được định nghĩa là NOT NULL trong CREATE TABLE, nhưng nếu có dữ liệu cũ cần cập nhật trước)
-- Nếu cột chưa có NOT NULL constraint, thêm constraint:
-- ALTER TABLE [dbo].[order_details]
-- ALTER COLUMN [created_at] [datetime2](6) NOT NULL;
GO

-- Xóa các cột cũ từ chat_messages (nếu có) - từ cấu trúc cũ
-- Drop receiver_type column if exists
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[chat_messages]') AND name = 'receiver_type')
BEGIN
    ALTER TABLE [dbo].[chat_messages] DROP COLUMN [receiver_type];
    PRINT 'Dropped receiver_type column from chat_messages';
END
GO

-- Drop receiver_id column if exists
IF EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[chat_messages]') AND name = 'receiver_id')
BEGIN
    ALTER TABLE [dbo].[chat_messages] DROP COLUMN [receiver_id];
    PRINT 'Dropped receiver_id column from chat_messages';
END
GO

-- Drop old index if exists
IF EXISTS (SELECT * FROM sys.indexes WHERE name = 'idx_receiver' AND object_id = OBJECT_ID(N'[dbo].[chat_messages]'))
BEGIN
    DROP INDEX [idx_receiver] ON [dbo].[chat_messages];
    PRINT 'Dropped idx_receiver index from chat_messages';
END
GO
